html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    
}

@mixin linear-gradient($params...) {
      background: -webkit-linear-gradient($params); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient($params); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient($params); /* For Firefox 3.6 to 15 */
      background: linear-gradient($params); /* Standard syntax */
}

html, body {
    font-size: 62.5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
body {
    @include linear-gradient(90deg, #aaa, #ddd);
}


div.header {
    @include linear-gradient(90deg, #222, #333);
    width: 100%;
    box-shadow: 0 0 15px 0 #000, inset 0 0 50px 5px #000, inset 0 -2px 10px 2px #000;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    h1 {
        color: #fff;
        padding: 7px;
        font-size: 5em;
        text-shadow: 1px 1px 5px #000;
    }
}

div.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    @include linear-gradient(90deg, #222, #333);
    width: 100%;
    box-shadow: 0 0 15px 0 #000, inset 0 0 20px 2px #000;
    border-top: 1px solid #999;
    h2 {
        color: #fff;
        margin: 10px;
        text-shadow: 1px 1px 5px #000;
    }
}

div.wrapper {
    width: 1200px;
    height: 500px;
    margin: 10px auto;
    padding: 10px;

    .side-menu {
        float: left;
        width: 200px;
        height: 100%;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 2px 2px 15px 0 #000;
        border: 2px solid #999;
        @include linear-gradient(90deg, #ddd, #eee);
        box-shadow: inset 0 0 200px 0 #000;
        h4 {
            font-size: 3.5em;
            color: #333;
            text-shadow: 1px 1px 5px #555;
        }

        ul {
            overflow-Y: scroll;
            overflow-X: hidden;
            list-style-type: none;
            height: 90%;
            li {
                padding: 5px;

                div {
                    border-radius: 5px;
                    background: #060F15;
                    font-size: 2.5em;
                    padding: 5px;
                    box-shadow: 2px 2px 10px 0 #000, inset 0 0 20px 0 #222;
                    color: #ddd;
                    text-shadow: 1px 1px 2px #000;
                    cursor: pointer;
                    &:hover {
                        @include linear-gradient(90deg, #ddd, #eee);
                        color: #000;
                    }
                }
            }
        }
    }
    div.main-content {
        float: right;
        width: 870px;
        min-height: 460px;
        @include linear-gradient(#111, #333);
        border-radius: 20px;
        padding: 30px;
        box-shadow: 2px 2px 15px 0 #000;
        border: 2px solid #999;
        margin-bottom: 50px;

        h2 {
            color: #2781C6;
            text-shadow: 2px 2px 2px #000;
            font-size: 5em;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .photo {
            height: 200px;
            width: 150px;
            border-radius: 10px;
            box-shadow: 2px 2px 5px 0 #000;
            margin-left: 10px;
        }
        .description {
            color: #999;
            font-size: 2em;
            float: right;
            clear: right;
            margin-right: 25px;
        }
        h3 {
            color: #fff;
            font-size: 3.5em;
            margin-top: 50px;
        }
        h4 {
            color: #ddd;
            font-size: 2.5em;
        }
        .code {
            display: block;
            unicode-bidi: embed;
            font-family: monospace;
            white-space: pre;
            margin:20px;
            line-height: 1.4em;
            background: #000;
            padding: 10px;
            border-radius: 10px;
            color: #999;
            text-shadow: 0px 0px 1px #000;
            box-shadow: 2px 2px 5px 0 #000;
            border: 1px solid #222;
        }
        button {
            margin-top: 20px;
            padding: 10px;
            border-radius: 5px;
            background: #060F15;
            color: #fff;
            text-shadow: 1px 1px 2px #000;
            box-shadow: 2px 2px 5px 0 #000;
            cursor: pointer;
            &:hover {
                        @include linear-gradient(90deg, #ddd, #eee);
                        color: #000;
                    }
        }
    }
}

.left {
    float: left;
}
.right {
    float: right;
}
.indent {
    text-indent: 3em;
}
.sample-code {
    display: none;
}
