html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p, button, span {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-family: "Open Sans",Sans-serif,Helvetica,Arial,sans-serif;
  list-style-type: none; }

html, body {
  font-size: 62.5%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(images/bricks.jpg); }

@-webkit-keyframes translateXin {
  0% {
    -moz-transform: translateX(1500px);
    -webkit-transform: translateX(1500px);
    -o-transform: translateX(1500px);
    transform: translateX(1500px); }
  20% {
    -moz-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px); }
  25% {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  80% {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -moz-transform: translateX(-700px);
    -webkit-transform: translateX(-700px);
    -o-transform: translateX(-700px);
    transform: translateX(-700px); } }
@keyframes translateXin {
  0% {
    -moz-transform: translateX(1500px);
    -webkit-transform: translateX(1500px);
    -o-transform: translateX(1500px);
    transform: translateX(1500px); }
  20% {
    -moz-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px); }
  25% {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  80% {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -moz-transform: translateX(-700px);
    -webkit-transform: translateX(-700px);
    -o-transform: translateX(-700px);
    transform: translateX(-700px); } }
.translate-x-in {
  -webkit-animation: translateXin 5s forwards;
  animation: translateXin 5s forwards; }

@-webkit-keyframes buttonZoom {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.03); } }
@keyframes buttonZoom {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.03); } }
@keyframes treasure {
  from {
    background-position: 0 0; }
  to {
    background-position: -2100px 0; } }
@-webkit-keyframes menuHoverAnima {
  from {
    top: 0;
    background-color: #fff; }
  to {
    top: 0;
    background-color: #000; } }
@keyframes listOutAnima {
  from {
    top: 0; }
  to {
    top: 100px; } }
@-webkit-keyframes listOutAnima {
  from {
    top: 0; }
  to {
    top: 100px; } }
@keyframes listInAnima {
  from {
    top: 100px; }
  to {
    top: 0; } }
@-webkit-keyframes listInAnima {
  from {
    top: 100px; }
  to {
    top: 0; } }
.list-out-anima {
  -webkit-animation: listOutAnima 0.2s forwards;
  animation: listOutAnima 0.2s forwards; }

.list-in-anima {
  -webkit-animation: listInAnima 0.2s forwards;
  animation: listInAnima 0.2s forwards; }

div.header {
  width: 100%;
  height: 60px; }
  @media screen and (max-width: 800px) {
    div.header {
      height: 70px; } }
  @media screen and (max-width: 500px) {
    div.header {
      height: 50px; } }
  div.header h1 {
    color: #fff;
    padding: 7px;
    padding-top: 13px;
    font-size: 6em;
    text-shadow: 2px 2px 2px #000;
    font-weight: bold;
    cursor: pointer;
    display: inline-block; }
    @media screen and (max-width: 500px) {
      div.header h1 {
        font-size: 4em;
        padding-top: 10px; } }
    @media screen and (max-width: 350px) {
      div.header h1 {
        font-size: 3em;
        padding-top: 15px; } }
  div.header img {
    height: 70px;
    width: 70px;
    float: right;
    display: none; }
    @media screen and (max-width: 800px) {
      div.header img {
        display: block; } }
    @media screen and (max-width: 500px) {
      div.header img {
        height: 50px;
        width: 50px; } }
  div.header div.menu-button {
    color: #fff;
    font-size: 10em;
    float: right;
    line-height: 10px;
    margin-right: 10px;
    display: none;
    top: -12px;
    position: relative;
    text-shadow: 2px 2px 2px #000; }
    div.header div.menu-button:hover {
      cursor: pointer;
      color: #2781C6; }
    @media screen and (max-width: 800px) {
      div.header div.menu-button {
        display: inline-block; } }
    @media screen and (max-width: 500px) {
      div.header div.menu-button {
        top: -20px; } }
  div.header .menu {
    opacity: 0;
    margin-right: 40px;
    padding-top: 12px;
    position: absolute;
    right: 0px; }
    @media screen and (max-width: 800px) {
      div.header .menu {
        display: none;
        z-index: 15;
        top: 70px;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%; } }
    @media screen and (max-width: 500px) {
      div.header .menu {
        top: 50px; } }
  div.header li {
    position: relative;
    top: 100px;
    display: inline-block;
    font-size: 3.5em;
    color: #666;
    font-weight: bold;
    margin: 15px -10px 0 0;
    cursor: pointer;
    text-shadow: 1px 1px 1px #999;
    background: #fff;
    padding: 10px 20px 30px 20px;
    border-radius: 20px 20px 0 0;
    z-index: 1;
    box-shadow: 2px 2px 10px 0px #000, inset 0 0 5px 0 #000; }
    @media screen and (max-width: 800px) {
      div.header li {
        font-size: 3em;
        padding: 20px;
        margin: 0px 5px 10px 5px;
        border-radius: 5px;
        box-shadow: 0 0 10px 5px #000, inset 1px 1px 1px 1px #555;
        text-shadow: 1px 1px 1px #000;
        background: -webkit-linear-gradient(130deg, #444, #222);
        background: -o-linear-gradient(130deg, #444, #222);
        background: -moz-linear-gradient(130deg, #444, #222);
        background: linear-gradient(130deg, #444, #222);
        color: #fff; }
        div.header li:hover {
          color: #999;
          -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
          background-color: #2781C6;
          -webkit-transition: -webkit-transform 0.1s;
          transition: transform 0.1s; } }
    div.header li:hover {
      color: #fff;
      z-index: 2;
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      background-color: #2781C6;
      -webkit-transition: -webkit-transform 0.1s;
      transition: transform 0.1s; }
  div.header .course-menu {
    opacity: 0;
    margin-right: 40px;
    padding: 10px;
    position: absolute;
    right: 0px; }
    @media screen and (max-width: 800px) {
      div.header .course-menu {
        display: none;
        z-index: 15;
        top: 70px;
        left: 0;
        right: 10px;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 10px 0; } }
    @media screen and (max-width: 500px) {
      div.header .course-menu {
        top: 50px; } }
    div.header .course-menu li {
      position: relative;
      margin-top: 15px;
      padding: 15px 10px 30px 10px;
      font-size: 2.2em;
      top: 100px; }
      @media screen and (max-width: 800px) {
        div.header .course-menu li {
          font-size: 2.2em;
          padding: 20px;
          margin: 5px;
          border-radius: 10px;
          box-shadow: none;
          text-shadow: 1px 1px 1px #000;
          box-shadow: 0 0 10px 5px #000, inset 1px 1px 1px 1px #555;
          background: -webkit-linear-gradient(130deg, #444, #222);
          background: -o-linear-gradient(130deg, #444, #222);
          background: -moz-linear-gradient(130deg, #444, #222);
          background: linear-gradient(130deg, #444, #222);
          color: #fff; } }
      div.header .course-menu li:hover {
        color: #fff; }
  div.header .signin-menu {
    opacity: 0;
    margin-right: 250px;
    padding: 10px;
    position: absolute;
    right: 0px; }
    @media screen and (max-width: 800px) {
      div.header .signin-menu {
        display: none;
        z-index: 15;
        top: 70px;
        left: 0;
        right: 10px;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 10px 0; } }
    @media screen and (max-width: 500px) {
      div.header .signin-menu {
        top: 50px; } }
    div.header .signin-menu li {
      margin-top: 15px;
      padding: 15px 20px 30px 10px;
      font-size: 2.5em;
      top: 100px; }
      @media screen and (max-width: 800px) {
        div.header .signin-menu li {
          font-size: 2.2em;
          padding: 20px;
          margin: 5px;
          border-radius: 10px;
          box-shadow: none;
          text-shadow: 1px 1px 1px #000;
          box-shadow: 0 0 10px 5px #000, inset 1px 1px 1px 1px #555;
          background: -webkit-linear-gradient(130deg, #444, #222);
          background: -o-linear-gradient(130deg, #444, #222);
          background: -moz-linear-gradient(130deg, #444, #222);
          background: linear-gradient(130deg, #444, #222);
          color: #fff; } }
      div.header .signin-menu li:hover {
        color: #fff; }

div.footer {
  margin-top: 70px;
  background: -webkit-linear-gradient(90deg, #333, #444);
  background: -o-linear-gradient(90deg, #333, #444);
  background: -moz-linear-gradient(90deg, #333, #444);
  background: linear-gradient(90deg, #333, #444);
  width: 100%;
  height: 40px;
  box-shadow: 0 0 15px 0 #000, inset 0 0 20px 0 #222;
  border-top: 1px solid #999; }
  @media screen and (max-width: 800px) {
    div.footer {
      margin-top: 20px; } }
  div.footer h2 {
    font-size: 2em;
    color: #fff;
    padding: 10px;
    text-shadow: 1px 1px 5px #000; }
    @media screen and (max-width: 400px) {
      div.footer h2 {
        font-size: 1.5em; } }

.coming-soon-text {
  margin: 60px 10px 0 10px;
  text-align: center;
  color: #fff;
  font-size: 3.5em;
  text-shadow: 1px 1px 3px #000; }
  @media screen and (max-width: 800px) {
    .coming-soon-text {
      font-size: 2.5em;
      margin-top: 20px; } }

div.wrapper {
  width: 98%;
  margin: 10px auto 0 auto; }
  @media screen and (max-width: 1100px) {
    div.wrapper {
      width: 95%;
      padding: 0; } }
  @media screen and (max-width: 800px) {
    div.wrapper {
      margin: 0 auto;
      width: 100%; } }
  @media screen and (max-width: 500px) {
    div.wrapper {
      margin: 0 auto; } }
  div.wrapper h2 {
    text-align: center;
    color: #2781C6;
    text-shadow: 1px 1px 1px #000;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 10px; }
    @media screen and (max-width: 1000px) {
      div.wrapper h2 {
        font-size: 4em; } }
    @media screen and (max-width: 700px) {
      div.wrapper h2 {
        font-size: 3.5em; } }
  div.wrapper h2.first-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 7em;
    text-shadow: 1px 1px 1px #000; }
    @media screen and (max-width: 950px) {
      div.wrapper h2.first-text {
        font-size: 6em; } }
  div.wrapper h4 {
    text-align: center;
    color: #999;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 5px; }
    @media screen and (max-width: 1000px) {
      div.wrapper h4 {
        font-size: 2em; } }
  div.wrapper div.side-menu {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    padding: 40px 10px 100px 10px;
    border-radius: 110px 20px 20px 250px;
    box-shadow: 1px 1px 5px 1px #000, inset 0 0 0px 2px #fff, inset 0 0 50px 0px #888;
    background: -webkit-linear-gradient(90deg, #eee, #999);
    background: -o-linear-gradient(90deg, #eee, #999);
    background: -moz-linear-gradient(90deg, #eee, #999);
    background: linear-gradient(90deg, #eee, #999); }
    @media screen and (max-width: 1100px) {
      div.wrapper div.side-menu {
        margin-bottom: 10px;
        border-radius: 20px; } }
    @media screen and (max-width: 800px) {
      div.wrapper div.side-menu {
        border-radius: 10px;
        box-shadow: 1px 1px 5px 2px #000, 0 0 2px 2px #fff;
        margin-top: 20px;
        padding-bottom: 40px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff; } }
    div.wrapper div.side-menu .slide-show {
      float: right;
      width: 380px;
      height: 500px;
      margin-top: 30px;
      margin-right: 30px; }
      @media screen and (max-width: 1270px) {
        div.wrapper div.side-menu .slide-show {
          display: none; } }
      div.wrapper div.side-menu .slide-show h3 {
        clear: both;
        font-size: 4em;
        color: #111;
        margin-bottom: 20px;
        padding-top: 10px;
        text-shadow: 1px 1px 1px #fff; }
      div.wrapper div.side-menu .slide-show p {
        color: #333;
        text-shadow: 1px 1px 1px #fff;
        font-size: 3em;
        line-height: 1.5em; }
      div.wrapper div.side-menu .slide-show #slider1_container {
        display: inline-block;
        border: 2px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        width: 380px;
        height: 380px;
        margin: 20px auto;
        float: left;
        box-shadow: 1px 1px 5px 2px #000, 0 0 2px 2px #fff;
        background: -webkit-linear-gradient(150deg, #555, #222);
        background: -o-linear-gradient(150deg, #555, #222);
        background: -moz-linear-gradient(150deg, #555, #222);
        background: linear-gradient(150deg, #555, #222);
        border: none;
        border-top: 1px solid #999;
        border-left: 1px solid #888; }
        div.wrapper div.side-menu .slide-show #slider1_container .slider2 {
          margin: 10px;
          width: 360px;
          height: 360px; }
    div.wrapper div.side-menu h4 {
      font-size: 6em;
      color: #555;
      font-weight: bold;
      text-shadow: 1px 1px 2px #fff; }
      @media screen and (max-width: 500px) {
        div.wrapper div.side-menu h4 {
          font-size: 4em; } }
    div.wrapper div.side-menu ul {
      float: left;
      width: 65%;
      list-style-type: none;
      margin-top: 30px;
      display: inline-block; }
      @media screen and (max-width: 1270px) {
        div.wrapper div.side-menu ul {
          width: 100%; } }
      @media screen and (max-width: 600px) {
        div.wrapper div.side-menu ul {
          margin-top: 15px; } }
      div.wrapper div.side-menu ul .html-basics {
        background: #B9E3B7; }
      div.wrapper div.side-menu ul .html-intermediate {
        background: #FFFFCD; }
      div.wrapper div.side-menu ul .css-basics {
        background: #A9B6CE; }
      div.wrapper div.side-menu ul .css-intermediate {
        background: #AF4043; }
      div.wrapper div.side-menu ul .javascript-basics {
        background: #4F668F; }
      div.wrapper div.side-menu ul .sass-basics {
        background: #5CAE58; }
      div.wrapper div.side-menu ul li {
        padding: 20px 30px;
        display: inline-block; }
        @media screen and (max-width: 800px) {
          div.wrapper div.side-menu ul li {
            padding: 10px; } }
        div.wrapper div.side-menu ul li div {
          margin: 0 auto;
          height: 150px;
          width: 280px;
          border-radius: 10px;
          background: #111;
          background-size: 100% 100%;
          font-size: 3em;
          padding: 10px;
          border: 1px solid #999;
          box-shadow: inset 1px 1px 4px 1px #666, 1px 1px 3px 1px #fff;
          cursor: pointer;
          display: table-cell; }
          div.wrapper div.side-menu ul li div:hover {
            -webkit-animation: buttonZoom 0.5s forwards;
            animation: buttonZoom 0.5s forwards;
            box-shadow: 1px 1px 10px 0px #000; }
          @media screen and (max-width: 900px) {
            div.wrapper div.side-menu ul li div {
              width: 220px; } }
          div.wrapper div.side-menu ul li div p {
            background: -webkit-linear-gradient(130deg, #fff, #fff);
            background: -o-linear-gradient(130deg, #fff, #fff);
            background: -moz-linear-gradient(130deg, #fff, #fff);
            background: linear-gradient(130deg, #fff, #fff);
            box-shadow: inset 1px 1px 3px 1px #999, 1px 1px 1px 0px #fff;
            color: #000;
            text-shadow: 1px 1px 1px #ddd;
            pointer-events: none;
            border-radius: 10px;
            padding: 10px; }
  div.wrapper div.main-content {
    text-align: center;
    margin: 0 auto;
    display: block; }
    div.wrapper div.main-content .slide-contain {
      text-align: center;
      overflow: hidden;
      max-width: 700px;
      margin: auto;
      padding-top: 10px;
      height: 65px; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        div.wrapper div.main-content .slide-contain {
          /* IE10+ specific styles go here */
          display: inline-block; } }
      @media screen and (max-width: 650px) {
        div.wrapper div.main-content .slide-contain {
          height: 50px; } }
      @media screen and (max-width: 500px) {
        div.wrapper div.main-content .slide-contain {
          height: 40px; } }
      div.wrapper div.main-content .slide-contain .text-slide {
        position: relative;
        display: inline-block;
        color: #fff;
        text-shadow: 1px 1px 5px #000;
        font-size: 3.3em;
        line-height: 1.5em;
        font-weight: bold; }
        div.wrapper div.main-content .slide-contain .text-slide li {
          display: none; }
        @media screen and (max-width: 650px) {
          div.wrapper div.main-content .slide-contain .text-slide {
            font-size: 2.5em; } }
        @media screen and (max-width: 500px) {
          div.wrapper div.main-content .slide-contain .text-slide {
            font-size: 2em; } }

.information {
  text-align: center;
  border-radius: 250px 20px 20px 20px;
  box-shadow: 1px 1px 5px 1px #000, inset 0 0 0px 2px #fff, inset 0 0 3px 2px #000;
  background: -webkit-linear-gradient(150deg, #777, #333);
  background: -o-linear-gradient(150deg, #777, #333);
  background: -moz-linear-gradient(150deg, #777, #333);
  background: linear-gradient(150deg, #777, #333);
  padding: 50px 10px; }
  @media screen and (max-width: 1100px) {
    .information {
      border-radius: 20px; } }
  @media screen and (max-width: 800px) {
    .information {
      box-shadow: 1px 1px 5px 2px #000, 0 0 2px 2px #fff;
      background: -webkit-linear-gradient(150deg, #666, #333);
      background: -o-linear-gradient(150deg, #666, #333);
      background: -moz-linear-gradient(150deg, #666, #333);
      background: linear-gradient(150deg, #666, #333);
      border-top: 1px solid #999;
      border-left: 1px solid #888; } }
  .information h4.info-text1 {
    font-size: 6em;
    color: #222;
    text-shadow: 1px 1px 1px #999; }
    @media screen and (max-width: 600px) {
      .information h4.info-text1 {
        font-size: 4em; } }
  .information h5 {
    font-size: 3em;
    color: #bbb;
    text-shadow: 1px 1px 2px #000; }
    @media screen and (max-width: 600px) {
      .information h5 {
        font-size: 2em; } }
  .information input {
    display: block;
    width: 400px;
    font-size: 4em;
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 0 #000; }
    @media screen and (max-width: 600px) {
      .information input {
        font-size: 3em;
        width: 250px; } }
  .information button {
    width: 200px;
    padding: 15px 5px;
    border-radius: 10px;
    background: -webkit-linear-gradient(150deg, #ddd, #aaa);
    background: -o-linear-gradient(150deg, #ddd, #aaa);
    background: -moz-linear-gradient(150deg, #ddd, #aaa);
    background: linear-gradient(150deg, #ddd, #aaa);
    font-size: 3em;
    text-shadow: 1px 1px 1px #fff;
    box-shadow: 1px 1px 7px 0 #000, inset 0 0 2px 2px #000; }
    .information button:hover {
      box-shadow: 1px 1px 3px 0 #000, inset 0 0 2px 2px #000;
      cursor: pointer;
      background: -webkit-linear-gradient(150deg, #bbb, #999);
      background: -o-linear-gradient(150deg, #bbb, #999);
      background: -moz-linear-gradient(150deg, #bbb, #999);
      background: linear-gradient(150deg, #bbb, #999); }

.white-background {
  position: relative;
  z-index: 10;
  background: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 0px #000, inset 0 0 5px 0 #000;
  padding: 20px; }
  @media screen and (max-width: 800px) {
    .white-background {
      border-radius: 0;
      padding: 20px 10px;
      box-shadow: none; } }

.dark-background {
  background: url(images/dark_texture.jpg);
  border-radius: 110px 20px 20px 110px;
  display: block;
  padding: 20px;
  height: 170px;
  box-shadow: 1px 1px 5px 1px #000, inset 0 0 0px 2px #fff, inset 0 0 3px 2px #000; }
  @media screen and (max-width: 1100px) {
    .dark-background {
      border-radius: 20px;
      height: auto; } }
  @media screen and (max-width: 800px) {
    .dark-background {
      border-radius: 10px;
      box-shadow: 1px 1px 5px 2px #000, 0 0 2px 2px #fff;
      border-top: 1px solid #999;
      border-left: 1px solid #888; } }

.compass {
  float: left;
  width: 170px;
  height: 170px; }
  @media screen and (max-width: 1100px) {
    .compass {
      display: none; } }

.map {
  float: right;
  background: url("images/map_sprite_small.png");
  -webkit-animation: treasure 10s steps(14) infinite;
  animation: treasure 10s steps(14) infinite;
  width: 150px;
  height: 150px;
  margin-top: 10px; }
  @media screen and (max-width: 800px) {
    .map {
      display: none; } }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

/*# sourceMappingURL=main.css.map */
