html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    
}

@mixin linear-gradient($params...) {
      background: -webkit-linear-gradient($params); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient($params); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient($params); /* For Firefox 3.6 to 15 */
      background: linear-gradient($params); /* Standard syntax */
}

html, body {
    font-size: 62.5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include linear-gradient(90deg, #000, #333);
}

@-webkit-keyframes buttonZoom {
   from{transform: scale(1);
}
   to{transform: scale(1.03);}
}
@keyframes buttonZoom {
   from{transform: scale(1);
}
   to{transform: scale(1.03);}
}

div.header {
    background: #ddd;
    width: 100%;
    box-shadow: 0 0 15px 0 #000, inset 0px -20px 50px 0 #aaa;
    border-bottom: 2px solid #999;
    h1 {
        color: #000;
        padding: 7px;
        font-size: 5em;
        text-shadow: 2px 2px 2px #999;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
    }
    .menu {
        float: right;
        margin-right: 20px;
        li {
            display: inline-block;
            font-size: 3.5em;
            color: #777;
            font-weight: bold;
            margin: 15px 20px 10px 5px;
            cursor: pointer;
            &:hover {
                color: #2781C6;
            }
            
        }
    }

    .sub-menu {
        display: none;
        position: absolute;
        background-color: #333;
        margin-top: 10px;


                li {
                    display: block;
                    font-size: 0.6em;
                    color: #fff;

                    &:hover {
                        color: #2781C6;
                    }
                }
            }
}

div.footer {
    margin-top: 100px;
    @include linear-gradient(90deg, #333, #444);
    width: 100%;
    height: 40px;
    box-shadow: 0 0 15px 0 #000, inset 0 0 20px 0 #222;
    border-top: 1px solid #999;
    h2 {
        font-size: 2em;
        color: #fff;
        padding: 10px;
        text-shadow: 1px 1px 5px #000;
    }
}

.coming-soon {
    text-align: center;
    color: #fff;
    font-size: 3.5em;
    margin-top: 100px;
}

div.wrapper {
    width: 1200px;
    height: 500px;
    margin: 60px auto;
    padding: 10px;

    h2 {
        text-align: center;
        color: #2781C6;
        text-shadow: 2px 2px 5px #000;
        font-size: 5.5em;
        font-weight: bold;
    }
    h4 {
        text-align: center;
        color: #ddd;
        font-size: 2.5em;
    }

    div.side-menu {
        margin-top: 10px;
        margin-bottom: 50px;
        text-align: center;
        padding: 10px;

        h4 {
            font-size: 5em;
            color: #fff;
            text-shadow: 3px 3px 5px #000;
        }

        ul {
            list-style-type: none;
            margin-top: 30px;

            li {
                padding: 10px 20px 10px 20px;
                display: inline-block;

                div {
                    margin: 0 auto;
                    height: 150px;
                    width: 280px;
                    border-radius: 5px;
                    @include linear-gradient(90deg, #ddd, #eee);
                    font-size: 3em;
                    padding: 10px;
                    box-shadow: 2px 2px 10px 3px #000, 0 0 10px 5px #2781C6,inset 0 0 200px 0 #000;
                    cursor: pointer;
                    display: table-cell;
                    &:hover {
                      /*  -webkit-animation-name: buttonZoom;
                        -webkit-animation-duration: 0.5s;
                        -webkit-animation-fill-mode: forwards; */
                    }

                    p {
                        @include linear-gradient(90deg, #555, #666);
                        box-shadow: 0 0 2px 0 #000, inset 0 0 20px 0 #555;
                        color: #ddd;
                        text-shadow: 2px 2px 2px #000;
                        pointer-events: none;
                        border-radius: 10px;
                        padding: 10px;
                    }
                }
            }
        }
    }
    div.main-content {
        margin-top: 40px;
        text-align: center;
        overflow: hidden;
        padding: 20px;


        .slide-contain {
            overflow: hidden;
            width: 500px;
            margin: 0 auto;
            padding: 20px;
            @include linear-gradient(90deg, #bbb, #ccc);
            box-shadow: 2px 2px 10px 3px #000,inset 0 0 200px 0 #000;
            border-radius: 20px;

            .text-slide {
                position: relative;
                display: inline-block;
                color: #fff;
                text-shadow: 1px 1px 5px #000;
                font-size: 3.3em;
                line-height: 1.5em;
                font-weight: bold;
            }
        }

    }
}

.left {
    float: left;
}
.right {
    float: right;
}