html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p, button, span{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-family: "Open Sans",Sans-serif,Helvetica,Arial,sans-serif;
    list-style-type: none;
}
@mixin linear-gradient($params...) {
      background: -webkit-linear-gradient($params);
      background: -o-linear-gradient($params);
      background: -moz-linear-gradient($params);
      background: linear-gradient($params);
}
html, body {
    font-size: 62.5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(images/background4.jpg);
}
@mixin addTranslateX ($param){
    -moz-transform: translateX($param);
    -webkit-transform: translateX($param);
    -o-transform: translateX($param);
    transform: translateX($param);
}
@mixin addScaleX ($param){
    -moz-transform: scaleX($param);
    -webkit-transform: scaleX($param);
    -o-transform: scaleX($param);
    transform: scaleX($param);
}
@-webkit-keyframes translateXin {
   0% {@include addTranslateX(1500px)}
   20% {@include addTranslateX(-10px)}
   25% {@include addTranslateX(0px)}
   80% {@include addTranslateX(0px)}
   100% {@include addTranslateX(-700px)}
}
@keyframes translateXin {
   0% {@include addTranslateX(1500px)}
   20% {@include addTranslateX(-10px)}
   25% {@include addTranslateX(0px)}
   80% {@include addTranslateX(0px)}
   100% {@include addTranslateX(-700px)}
}
.translate-x-in {
    -webkit-animation: translateXin 5s forwards;
    animation: translateXin 5s forwards;
}
@-webkit-keyframes buttonZoom {
   from{transform: scale(1);}
   to{transform: scale(1.03);}
}
@keyframes buttonZoom {
   from{transform: scale(1);}
   to{transform: scale(1.03);}
}
@keyframes treasure {
    from{ background-position: 0 0}
    to{ background-position: -2100px 0}
}
@-webkit-keyframes menuHoverAnima {
   from{top: 0; background-color: #fff}
    to{top: 0; background-color: #000}
}
@keyframes menuHoverAnima {
   
}

@keyframes listOutAnima {
   from{top: 0;}
   to{top: 100px;}
}
@-webkit-keyframes listOutAnima {
   from{top: 0;}
   to{top: 100px;}
}

@keyframes listInAnima {
   from{top: 100px;}
   to{top: 0;}
}
@-webkit-keyframes listInAnima {
   from{top: 100px;}
   to{top: 0;}
}
.list-out-anima {
    -webkit-animation: listOutAnima 0.2s forwards;
    animation: listOutAnima 0.2s forwards;
}
.list-in-anima {
    -webkit-animation: listInAnima 0.2s forwards;
    animation: listInAnima 0.2s forwards;
}
div.header {
    width: 100%;
    height: 60px;
    @media screen and (max-width: 800px){
        height: 70px;
        background: #111;
    }
    @media screen and (max-width: 500px) {
        height: 50px;
    }
    h1 {
        color: #fff;
        padding: 7px;
        padding-top: 13px;
        font-size: 6em;
        text-shadow: 2px 2px 2px #000;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        @media screen and (max-width: 500px){
            font-size: 4em;
            padding-top: 10px;
        }
        @media screen and (max-width: 350px){
            font-size: 3em;
            padding-top: 15px;
        }
    }
    img {
        height: 70px;
        width: 70px;
        float: right;
        display: none;
        @media screen and (max-width: 800px){
            display: block;
        }
        @media screen and (max-width: 500px){
            height: 50px;
            width: 50px;
        }
    }
    div.menu-button {
        color: #fff;
        font-size: 10em;
        float: right;
        line-height: 10px;
        margin-right: 10px;
        display: none;
        top: -12px;
        position: relative;
        text-shadow: 2px 2px 2px #000;
        &:hover {
            cursor: pointer;
            color: #2781C6;
        }
        @media screen and (max-width: 800px){
            display: inline-block;
        }
        @media screen and (max-width: 500px){
            top: -20px;
        }
    }
    .menu {
        opacity: 0;
        margin-right: 40px;
        padding-top: 12px;
        position: absolute;
        right: 0px;
        @media screen and (max-width: 800px) {
            display: none;
            z-index: 15;
            top: 70px;
            left: 0;
            right: 0;
            text-align: center;
            width: 100%;
            background-color: #111;
            border-bottom: 2px solid #999;
            box-shadow: 0 0 30px 0 #000;

        }
        @media screen and (max-width: 500px) {
            top: 50px;
        }
    }
    li {
            position: relative;
            top: 100px;
            display: inline-block;
            font-size: 3.5em;
            color: #666;
            font-weight: bold;
            margin: 15px -10px 0 0;
            cursor: pointer;
            text-shadow: 1px 1px 1px #999;
            background: #fff;
            padding: 10px 20px 30px 20px;
            border-radius: 20px 20px 0 0;
            z-index: 1;
            box-shadow: 2px 2px 10px 0px #000, inset 0 0 5px 0 #000;
            @media screen and (max-width: 800px) {
                font-size: 3em;
                padding: 20px;
                margin: 0px 5px 10px 5px;
                border-radius: 0;
                border-radius: 5px;
                box-shadow: none;
                &:hover {
                color: #999;
                -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
                background-color: #2781C6;
                -webkit-transition: -webkit-transform 0.1s;
                transition: transform 0.1s;
                }
            }
            @media screen and (max-width: 500px) {
                
            }
           
            &:hover {
                color: #fff;
                z-index: 2;
                -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
                background-color: #2781C6;
                -webkit-transition: -webkit-transform 0.1s;
                transition: transform 0.1s;
            }
        }
    .course-menu {
        opacity: 0;
        margin-right: 40px;
        padding: 10px;
        position: absolute;
        right: 0px;
        @media screen and (max-width: 800px) {
            display: none;
            z-index: 15;
            top: 70px;
            left: 0;
            right: 10px;
            text-align: center;
            width: 100%;
            background: #111;
            margin: 0;
            padding: 10px 0;
            border-bottom: 2px solid #333;
            box-shadow: 0 0 30px 0 #000;
        }
        @media screen and (max-width: 500px) {
            top: 50px;
        }
        li {
            position: relative;
            margin-top: 15px;
            padding: 15px 10px 30px 10px;
            font-size: 2.2em;
            top: 100px;
            @media screen and (max-width: 800px) {
                font-size: 2.2em;
                padding: 20px;
                margin: 5px;
                border-radius: 10px;
                box-shadow: none;
                color: #555;
                text-shadow: 1px 1px 1px #999;
            }
            &:hover {
                color: #fff;
            }
        }
    }
    .signin-menu {
        opacity: 0;
        margin-right: 250px;
        padding: 10px;
        position: absolute;
        right: 0px;
        @media screen and (max-width: 800px) {
            display: none;
            z-index: 15;
            top: 70px;
            left: 0;
            right: 10px;
            text-align: center;
            width: 100%;
            background: #111;
            margin: 0;
            padding: 10px 0;
            border-bottom: 2px solid #555;
            box-shadow: 0 0 30px 0 #000;
        }
        @media screen and (max-width: 500px) {
            top: 50px;
        }
        li {
            margin-top: 15px;
            padding: 15px 20px 30px 10px;
            font-size: 2.5em;
            top: 100px;
            @media screen and (max-width: 800px) {
                font-size: 2.2em;
                padding: 20px;
                margin: 5px;
                border-radius: 10px;
                box-shadow: none;
                color: #555;
                text-shadow: 1px 1px 1px #999;
            }
            &:hover {
                color: #fff;
            }
        }
    }
}
div.footer {
    margin-top: 70px;
    @include linear-gradient(90deg, #333, #444);
    width: 100%;
    height: 40px;
    box-shadow: 0 0 15px 0 #000, inset 0 0 20px 0 #222;
    border-top: 1px solid #999;
    @media screen and (max-width: 800px) {
        margin-top: 20px;
    }
    h2 {
        font-size: 2em;
        color: #fff;
        padding: 10px;
        text-shadow: 1px 1px 5px #000;
        @media screen and (max-width: 400px) {
         font-size: 1.5em;
        }
    }
}
.coming-soon-text {
    margin: 60px 10px 0 10px;
    text-align: center;
    color: #fff;
    font-size: 3.5em;
    text-shadow: 1px 1px 3px #000;
    @media screen and (max-width: 800px) {
        font-size: 2.5em;
        margin-top: 20px;
    }
}
div.wrapper {
    width: 98%;
    margin: 10px auto 0 auto;
    @media screen and (max-width: 1100px) {
                width: 95%;
                padding: 0;
            }
    @media screen and (max-width: 800px) {
        margin: 0 auto;
        width: 100%;
    }
    @media screen and (max-width: 500px) {
        margin: 0 auto;
    }
    h2 {
        text-align: center;
        color: #2781C6;
        text-shadow: 1px 1px 1px #000;
        font-size: 5em;
        font-weight: bold;
        margin-bottom: 10px;
        @media screen and (max-width: 1000px) {
            font-size: 4em;
        }
        @media screen and (max-width: 700px) {
            font-size: 3.5em;
        }
    }
    h2.first-text {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 7em;
        text-shadow: 1px 1px 1px #000;
        @media screen and (max-width: 950px) {
            font-size: 6em;
        }
    }
    h4 {
        text-align: center;
        color: #999;
        font-size: 2.5em;
        text-shadow: 1px 1px 2px #000;
        margin-bottom: 5px;
        @media screen and (max-width: 1000px) {
                font-size: 2em;
        }
    }
    div.side-menu {
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
        padding: 40px 10px 100px 10px;
        border-radius: 110px 20px 20px 250px;
        box-shadow: 1px 1px 5px 1px #000, inset 0 0 0px 2px #fff, inset 0 0 3px 2px #000;
         @include linear-gradient(90deg, #eee, #999);
        @media screen and (max-width: 1100px) {
            margin-bottom: 10px;
            border-radius: 20px;
        }
        @media screen and (max-width: 800px){
            border-radius: 10px;
            box-shadow: 1px 1px 5px 2px #000, 0 0 2px 2px #fff;
            margin-top: 20px;
            padding-bottom: 40px;
        }
        h4 {
            font-size: 6em;
            color: #555;
            font-weight: bold;
            text-shadow: 1px 1px 2px #fff;
            @media screen and (max-width: 500px) {
                font-size: 4em;
            }
        }
        ul {
            list-style-type: none;
            margin-top: 30px;
            @media screen and (max-width: 600px) {
                margin-top: 15px;
            }
            .html-basics {
                background: #B9E3B7;
            }
            .html-intermediate {
                background: #FFFFCD;
            }
            .css-basics {
                background: #A9B6CE;
            }
            .css-intermediate {
                background: #AF4043;
            }
            .javascript-basics {
                background: #4F668F;
            }
            .sass-basics {
                background: #5CAE58;
            }
            li {
                padding: 20px 30px;
                display: inline-block;
                @media screen and (max-width: 800px) {
                    padding: 10px;
                }

                div {
                    margin: 0 auto;
                    height: 150px;
                    width: 280px;
                    border-radius: 10px;
                    background: #111;
                    background-size: 100% 100%;
                    font-size: 3em;
                    padding: 10px;
                    border: 2px solid #555;
                    box-shadow: 2px 2px 10px 0 #000, inset 0 0 1px 1px #aaa;
                    cursor: pointer;
                    display: table-cell;
                    &:hover {
                        -webkit-animation: buttonZoom 0.5s forwards;
                        animation: buttonZoom 0.5s forwards;
                        box-shadow: 2px 2px 12px 0px #000;
                        border: 2px solid transparent;
                    }
                    @media screen and (max-width: 900px){
                        width: 220px;
                    }

                    p {
                        background: #fff;
                        box-shadow: 1px 1px 3px 0 #000, inset 0 0 3px 0 #000;
                        color: #555;
                        text-shadow: 1px 1px 1px #999;
                        pointer-events: none;
                        border-radius: 10px;
                        padding: 10px;
                    }
                }
            }
        }
    }
    div.main-content {
        text-align: center;
        margin: 0 auto;
        display: block;
        .slide-contain {
            text-align: center;
            overflow: hidden;
            max-width: 700px;
            margin: auto;
            padding-top: 10px;
            height: 65px;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
                /* IE10+ specific styles go here */ 
                display: inline-block; 
            }
            @media screen and (max-width: 650px) {
                height: 50px;
            }
            @media screen and (max-width: 500px) {
                height: 40px;
            }
            .text-slide {
                position: relative;
                display: inline-block;
                color: #fff;
                text-shadow: 1px 1px 5px #000;
                font-size: 3.3em;
                line-height: 1.5em;
                font-weight: bold;
                span {

                }
                li {
                    display: none;
                }
                @media screen and (max-width: 650px) {
                    font-size: 2.5em;
                }
                @media screen and (max-width: 500px) {
                    font-size: 2em;
                }
            }
        }
    }
}
.information {
    text-align: center;
     border-radius: 250px 20px 20px 20px;
     box-shadow: 1px 1px 5px 1px #000, inset 0 0 0px 2px #fff, inset 0 0 3px 2px #000;
     @include linear-gradient(150deg, #777, #333);
     padding: 50px 10px;
     @media screen and (max-width: 1100px){
        border-radius: 20px;
     }
     @media screen and (max-width: 800px){
        box-shadow: 1px 1px 5px 2px #000, 0 0 2px 2px #fff;
        @include linear-gradient(150deg, #666, #333);
        border-top: 1px solid #999;
        border-left: 1px solid #888;
     }
     h4.info-text1 {
        font-size: 6em;
        color: #222;
        text-shadow: 1px 1px 1px #999;
        @media screen and (max-width: 600px){
            font-size: 4em;
        }
     }
     h5 {
        font-size: 3em;
        color: #bbb;
        text-shadow: 1px 1px 2px #000;
        @media screen and (max-width: 600px){
            font-size: 2em;
        }
     }
     input {
        display: block;
        width: 400px;
        font-size: 4em;
        margin: 20px auto;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 7px 0 #000;
        @media screen and (max-width: 600px){
            font-size: 3em;
            width: 250px;
        }
     }
     button {
        width: 200px;
        padding: 15px 5px;
        border-radius: 10px;
        @include linear-gradient(150deg, #ddd, #aaa);
        font-size: 3em;
        text-shadow: 1px 1px 1px #fff;
        box-shadow: 1px 1px 7px 0 #000, inset 0 0 2px 2px #000;
        &:hover {
            box-shadow: 1px 1px 3px 0 #000, inset 0 0 2px 2px #000;
            cursor: pointer;
            @include linear-gradient(150deg, #bbb, #999);
        }
     }
}
.white-background {
    position: relative;
    z-index: 10;
    background: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 0px #000, inset 0 0 5px 0 #000;
    padding: 20px;
    @media screen and (max-width: 800px){
        border-radius: 0;
        padding: 20px 10px;
        box-shadow: none;
    }
}
.dark-background {
    background: url(images/background5.jpg);
    border-radius: 110px 20px 20px 110px;
    display: block;
    padding: 20px;
    height: 170px;
    box-shadow: 1px 1px 5px 1px #000, inset 0 0 0px 2px #fff, inset 0 0 3px 2px #000;
    @media screen and (max-width: 1100px) {
        border-radius: 20px;
        height: auto;
    }
    @media screen and (max-width: 800px) {
        border-radius: 10px;
    }
    @media screen and (max-width: 500px) {
        box-shadow: 1px 1px 5px 2px #000, 0 0 2px 2px #fff;
        @include linear-gradient(150deg, #555, #222);
        border-top: 1px solid #666;
        border-left: 1px solid #555;
    }
}
.compass {
    float: left;
    width: 170px;
    height: 170px;
    @media screen and (max-width: 1100px){
        display: none;
    }
}
.map {
    float: right;
    background: url('images/map_sprite_small.png');
    -webkit-animation: treasure 10s steps(14) infinite;
    animation: treasure 10s steps(14) infinite;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    @media screen and (max-width: 800px) {
        display: none;
    }
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}