html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    
}

@mixin linear-gradient($params...) {
      background: -webkit-linear-gradient($params); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient($params); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient($params); /* For Firefox 3.6 to 15 */
      background: linear-gradient($params); /* Standard syntax */
}

html, body {
    font-size: 62.5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include linear-gradient(90deg, #000, #333);
}

@-webkit-keyframes buttonZoom {
   from{transform: scale(1);
}
   to{transform: scale(1.05);}
}
@keyframes buttonZoom {
   from{transform: scale(1);
}
   to{transform: scale(1.05);}
}

div.header {
    background: #000;
    width: 100%;
    box-shadow: 0 0 15px 0 #000;
    border-bottom: 1px solid #999;
    h1 {
        color: #fff;
        padding: 10px;
        font-size: 5em;
    }
}

div.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #000;
    width: 100%;
    box-shadow: 0 0 15px 0 #000;
    border-top: 1px solid #999;
    h2 {
        color: #fff;
        margin: 10px;
    }
}

div.wrapper {
    width: 1200px;
    height: 500px;
    margin: 10px auto;
    padding: 10px;

    div.side-menu {
        margin-top: 50px;
        text-align: center;
        padding: 10px;

        h4 {
            font-size: 5em;
            color: #fff;
            text-shadow: 3px 3px 5px #000;
        }

        ul {
            list-style-type: none;
            margin-top: 50px;

            li {
                padding: 10px 20px 10px 20px;
                display: inline-block;

                div {
                    margin: 0 auto;
                    height: 200px;
                    width: 300px;
                    border-radius: 5px;
                    background: #03467A;
                    font-size: 3em;
                    padding: 5px;
                    box-shadow: 2px 2px 10px 3px #000,inset 0 0 5px 0 #000, inset 0 0 50px 15px #023862;
                    cursor: pointer;
                    display: table-cell;
                    vertical-align: middle;
                    &:hover {
                        -webkit-animation-name: buttonZoom;
                        -webkit-animation-duration: 0.5s;
                        -webkit-animation-fill-mode: forwards;
                    }

                    p {
                        color: #ddd;
                        text-shadow: 2px 2px 2px #000;
                        pointer-events: none;
                    }
                }
            }
        }
    }
    div.main-content {
        overflow: hidden;
        .text-slide {
            position: relative;
            h2 {
            color: #2781C6;
            text-shadow: 2px 2px 2px #000;
            font-size: 5em;
            font-weight: bold;
            }
            h4 {
                color: #ddd;
                font-size: 2.5em;
            }
        }

    }
}

.left {
    float: left;
}
.right {
    float: right;
}